@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (ViewBag.IsCrawlerRunning != null && (bool)ViewBag.IsCrawlerRunning)
    {
        <p>کرولر در حال اجراست...</p>
        <form method="post" asp-controller="Home" asp-action="Stop">
            <button type="submit" class="btn btn-danger">■ توقف</button>
        </form>
    }
    else
    {
        <p>کرولر متوقف شده است.</p>
        <form method="post" asp-controller="Home" asp-action="start">
            <input type="text" name="search" placeholder="کلیدواژه جستجو" />
            <button type="submit" class="btn btn-success">▶ شروع</button>
        </form>
    }

    <p> develop by sjpz.ir </p>

    <a href="~/home/list"> مشاهده گزارشات </a>
</div>

<script>

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/crawlerHub")
        .build();

    connection.on("ReceiveMessage", function (message) {
        console.log(message); // می‌توانید تغییرات دلخواه در UI داشته باشید
    });

    connection.start().catch(function (err) {
        return console.error(err.toString());
    });



    document.addEventListener('DOMContentLoaded', function () {
        setInterval(function () {
            location.reload();
        }, 9000); // 300 میلی‌ثانیه برابر است با 3 ثانیه
    });
</script>

