
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Crowl>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4>لیست تاریخ‌ها</h4>
            <ul class="list-group">
                @foreach (var d in Model)
                {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    @d.InsertTime.ToString("yyyy/MM/dd HH:mm")
                    <a href="~/home/reports?crowlId=@d.Id" class="btn btn-primary btn-sm">مشاهده</a>
                    <form method="post" asp-controller="Home" asp-action="start">
                        <input type="hidden" value="@d.Title" name="search" />
                        <button type="submit" class="btn btn-success">▶ شروع</button>
                    </form>
                </li>
                }
            </ul>
        </div>
    </div>
</div>
